# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# Build
build/
dist/

# Tooling
.direnv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
